* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(238, 239, 224);
	display: flex;
	flex-direction: column;
}

h1 {
	color: rgb(129, 154, 145);
	text-align: center;
	font-family: "Bungee", sans-serif;
 	font-weight: 400;
	font-size: 3rem;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	padding: 48px;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

#container {
	border: 10px solid rgb(129, 154, 145);
	width: 800px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(209, 216, 190);
}

.square {
	border: 1px solid rgb(129, 154, 145);
}

#btn,
#rgbBtn,
#resetBtn {
	background-color: rgb(167, 193, 168);
	border: 4px solid rgb(129, 154, 145);
	width: 150px;
	height: 100px;
	padding: 6px;
	font-size: 18px;
	font-weight: 400;
	color: rgb(238, 239, 224);
	font-family: "Bungee", sans-serif;
}